@page "/"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<PageTitle>Currency Converter</PageTitle>

<MudGrid Justify="Justify.Center" Spacing="2">
    <MudItem xs="12">
        <MudText Align="Align.Center" Typo="Typo.h3">Currency Converter</MudText>
    </MudItem>

    <MudItem xs="12">
        <div class="d-flex justify-center align-center flex-auto">
            <MudSelect Disabled="DisableControls" @bind-Value="Model.SelectedCountryFromCode" @bind-Value:after="OnSetNewCountry" Variant="Variant.Filled">
                @foreach (var country in Model.Countries)
                {
                    <MudSelectItem T="string" Value="@country.Code"></MudSelectItem>
                }
            </MudSelect>

            <MudIconButton Class="mx-2" Disabled="DisableControls" Icon="@Icons.Material.Rounded.ChangeCircle" Color="Color.Primary" DisableElevation="true" OnClick="SwapCountries"></MudIconButton>

            <MudSelect Disabled="DisableControls" @bind-Value="Model.SelectedCountryToCode" @bind-Value:after="OnSetNewCountry" Variant="Variant.Filled">
                @foreach (var country in Model.Countries)
                {
                    <MudSelectItem T="string" Value="@country.Code"></MudSelectItem>
                }
            </MudSelect>
        </div>
    </MudItem>

    <MudItem xs="12">
        <MudDivider DividerType="DividerType.Middle" Class="my-2"></MudDivider>
    </MudItem>
    
    <MudItem xs="12" sm="6">
        <MudNumericField Format="N2" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AttachMoney" Disabled="DisableControls" Immediate="true" @bind-Value="Model.Amount" Label="From" Variant="Variant.Filled" HideSpinButtons="true" />
    </MudItem>

    <MudItem xs="12" sm="6">
        <MudNumericField Format="N2" Value="Model.ConvertedAmount" AdornmentIcon="@Icons.Material.Filled.AttachMoney" Disabled="DisableControls" ReadOnly="true" Label="To" Variant="Variant.Filled" HideSpinButtons="true" />
    </MudItem>

</MudGrid>