@page "/"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<PageTitle>Exchange Rate</PageTitle>

<InputNumber DisplayName="Amount" @bind-Value="Model.Amount"></InputNumber>

<InputSelect @bind-Value="Model.SelectedCountryFromCode" @bind-Value:after="RefreshExchangeRate">
    @foreach (var country in Model.Countries)
    {
        <option value="@country.Code">@country.Code - @country.Name</option>
    }
</InputSelect>

<InputSelect @bind-Value="Model.SelectedCountryToCode" @bind-Value:after="RefreshExchangeRate">
    @foreach (var country in Model.Countries)
    {
        <option value="@country.Code">@country.Code - @country.Name</option>
    }
</InputSelect>

@if (Model.IsValid())
{
    <p>Converted Amount: @Model.Amount @Model.SelectedCountryFromCode = @Model.ConvertedAmount @Model.SelectedCountryToCode</p>
}