@page "/"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<PageTitle>Currency Converter</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12">
        <label class="d-flex align-center justify-center mud-width-full py-8">Currency Converter</label>
    </MudItem>

    <MudItem xs="12">
        <MudStack Row="true" Justify="Justify.Center" AlignItems="AlignItems.Center">
            <MudSelect Disabled="DisableControls" Class="d-flex align-center justify-center mud-width-full py-8" @bind-Value="Model.SelectedCountryFromCode" @bind-Value:after="OnSetNewCountry" Variant="Variant.Filled">
                @foreach (var country in Model.Countries)
                {
                    <MudSelectItem T="string" Value="@country.Code"></MudSelectItem>
                }
            </MudSelect>

            <MudFab Disabled="DisableControls" Class="d-flex align-center justify-center" Color="Color.Primary" StartIcon="@Icons.Material.Rounded.ChangeCircle" DisableElevation="true" OnClick="SwapCountries" />

            <MudSelect Disabled="DisableControls" Class="d-flex align-center justify-center mud-width-full py-8" @bind-Value="Model.SelectedCountryToCode" @bind-Value:after="OnSetNewCountry" Variant="Variant.Filled">
                @foreach (var country in Model.Countries)
                {
                    <MudSelectItem T="string" Value="@country.Code"></MudSelectItem>
                }
            </MudSelect>
        </MudStack>
    </MudItem>
</MudGrid>

<InputNumber DisplayName="Amount" @bind-Value="Model.Amount"></InputNumber>


@if (Model.IsValid())
{
    <p>Converted Amount: @Model.Amount @Model.SelectedCountryFromCode = @Model.ConvertedAmount @Model.SelectedCountryToCode</p>
}